<a href="https://colab.research.google.com/github/magatrons/PythonDA-course/blob/main/Assessment/Data_Analytics_with_Python_Assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

This assessment aims to evaluate your understanding and application of the concepts covered in the Data Analytics course. You will be tasked with analyzing a dataset related to remote work and mental health, utilizing various data manipulation, statistical analysis, and visualization techniques learned throughout the course. This exercise will help reinforce your skills in data handling, exploratory analysis, and drawing meaningful insights from data.

### Submission Details:

The deadline for submission is 16 November at 11:59 PM. Specific submission details will be shared with you shortly.

### Passing Criteria:

To successfully pass this assessment, you must achieve a score of 80% or higher.
We encourage you to engage with the material and demonstrate your analytical skills. Good luck!


---

# Section 1 - Beginner (25%)

## Shopping Cart System with Discounts

Write a Python program to simulate a shopping cart system for an online store. The program will calculate the total cost of items, apply discounts, and check if the total exceeds a specified budget.

1.	Variables and Lists:
  - Define a `budget` variable with an initial value of 200.
  
  - Create two empty lists called `item_names_list` and `item_prices_list` to store the name and price of each item separately.

In [22]:
# Write your code here
budget = 200
item_names_list = []
item_prices_list = []

2. Functions:
  - Write a function `add_item_to_cart(item_name, item_price)` that takes the itemâ€™s name and price as arguments, appends the name to item_names and the price to item_prices, and returns both updated lists.
  
  - Write a function `calculate_total(item_prices)` that calculates and returns the total cost of all items in item_prices.

    Conditions:
    - If the total cost exceeds the budget after adding an item, print "Budget exceeded!" and stop adding more items.
    - If the total cost is within budget and exceeds $100, apply a 10% discount on the total and print the discounted total.

In [23]:
# Write your code here
def add_item_to_cart(item_name, item_price):
 item_names_list.append(item_name)
 item_prices_list.append(item_price)
 return item_names_list, item_prices_list


def calculate_total(item_prices):
 total = sum(item_prices)
 if total > budget:
   print("Budget exceeded!")
   return 0
 elif total < budget and total > 100:
   discount = total * 0.1
   total -= discount
   print(f"Discounted total: ${total}")
 return total

3.	Loop and Input:
  - Start the input only once the user says 'start'
  - Use a loop to allow the user to add items to the cart by entering an item name and price. The loop should stop when the user types 'done'.
  - For each item, add it to item_names and item_prices using add_item_to_cart, then update the total cost using calculate_total.

Output:
  - After the loop ends, display the final cart with each item and its price, the initial total, any applicable discount, and the final total.

In [24]:
# Write your code here
start = input("Type 'start' to begin: ")

Type 'start' to begin: start

In [25]:

# Write your code here
while start == 'start':
  item_name = input("Enter item name: ")
  item_price = float(input("Enter item price: "))
  add_item_to_cart(item_name, item_price)
  total = calculate_total(item_prices_list)
  user_input = input("Enter 'done' to stop or press Enter to add another item: ")
  if user_input == 'done':
    break

initial_total = sum(item_prices_list)
final_total = calculate_total(item_prices_list)

print("\nFinal Cart:")
for i in range(len(item_names_list)):
  print(f"{item_names_list[i]}: ${item_prices_list[i]:.2f}")
print(f"Initial Total: ${initial_total:.2f}")
if final_total < initial_total:
  print(f"Discount Applied: -${initial_total - final_total:.2f}")
print(f"Final Total: ${final_total:.2f}")

Enter item name: laptop
Enter item price: 120
Discounted total: $108.0
Enter 'done' to stop or press Enter to add another item:
Enter item name: cheese
Enter item price: 50
Discounted total: $153.0
Enter 'done' to stop or press Enter to add another item:
Enter item name: shirt
Enter item price: 60
Budget exceeded!
Enter 'done' to stop or press Enter to add another item: done

Final Cart:
laptop: $120.00
cheese: $50.00
shirt: $60.00
Initial Total: $230.00
Discount Applied: -$230.00
Final Total: $0.00

# Section 2 - Intermidiate (55%) - Remote Work and Mental Health Analysis

Dataset source: Kaggle (https://www.kaggle.com/datasets/waqi786/remote-work-and-mental-health)

## Objective:
- In the following sections, you will explore the "Remote Work and Mental Health" dataset using Python and different data science libraries such as Pandas, NumPy and Matplotlib.
- Follow the instructions below to complete each task. Please provide code for each question and any observations as comments when necessary.

In [27]:
# Import necessary modules and libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1. Load Dataset (2 marks)
- Instructions: Load the dataset using Pandas and display few rows.
- Question: Describe the overall structure (rows, columns, data types) as a comment at the end of your code.

In [29]:
# Write code here
url = 'https://raw.githubusercontent.com/magatrons/PythonDA-course/refs/heads/main/Assessment/dataset.csv'
df = pd.read_csv(url)
df.head()
df.info()
# The dataset contains the following structure:
# - Rows: Represents individual entries, the total number of rows can be determined from the data.info() output.
# - Columns: Each column represents a variable in the dataset.
# - Data types: The data.info() output will detail the types (e.g., int64, float64, object).
# Example columns might include patient health indicators, diagnosis results, or other related features.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Employee_ID                        5000 non-null   object
 1   Age                                5000 non-null   int64
 2   Gender                             5000 non-null   object
 3   Job_Role                           5000 non-null   object
 4   Industry                           5000 non-null   object
 5   Years_of_Experience                5000 non-null   int64
 6   Work_Location                      5000 non-null   object
 7   Hours_Worked_Per_Week              5000 non-null   int64
 8   Number_of_Virtual_Meetings         5000 non-null   int64
 9   Work_Life_Balance_Rating           5000 non-null   int64
 10  Stress_Level                       5000 non-null   object
 11  Mental_Health_Condition            3804 non-null   object
 12  Access_to_Mental_Health_Resources  5000 non-null   object
 13  Productivity_Change                5000 non-null   object
 14  Social_Isolation_Rating            5000 non-null   int64
 15  Satisfaction_with_Remote_Work      5000 non-null   object
 16  Company_Support_for_Remote_Work    5000 non-null   int64
 17  Physical_Activity                  3371 non-null   object
 18  Sleep_Quality                      5000 non-null   object
 19  Region                             5000 non-null   object
dtypes: int64(7), object(13)
memory usage: 781.4+ KB

## 2. Display 'n' Rows (3 marks)
- Instructions: Display the first 13 rows of the dataset.

In [30]:
# Write code here
df.head(13)

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,Healthcare,13,Hybrid,47,7,2,Medium,Depression,No,Decrease,1,Unsatisfied,1,Weekly,Good,Europe
1,EMP0002,40,Female,Data Scientist,IT,3,Remote,52,4,1,Medium,Anxiety,No,Increase,3,Satisfied,2,Weekly,Good,Asia
2,EMP0003,59,Non-binary,Software Engineer,Education,22,Hybrid,46,11,5,Medium,Anxiety,No,No Change,4,Unsatisfied,5,NaN,Poor,North America
3,EMP0004,27,Male,Software Engineer,Finance,20,Onsite,32,8,4,High,Depression,Yes,Increase,3,Unsatisfied,3,NaN,Poor,Europe
4,EMP0005,49,Male,Sales,Consulting,32,Onsite,35,12,2,High,NaN,Yes,Decrease,3,Unsatisfied,3,Weekly,Average,North America
5,EMP0006,59,Non-binary,Sales,IT,31,Hybrid,39,3,4,High,NaN,No,Increase,5,Unsatisfied,1,NaN,Average,South America
6,EMP0007,31,Prefer not to say,Sales,IT,24,Remote,51,7,3,Low,Anxiety,Yes,Decrease,5,Neutral,3,Daily,Poor,Asia
7,EMP0008,42,Non-binary,Data Scientist,Manufacturing,6,Onsite,54,7,3,Medium,Depression,No,Decrease,5,Satisfied,4,NaN,Average,North America
8,EMP0009,56,Prefer not to say,Data Scientist,Healthcare,9,Hybrid,24,4,2,High,NaN,Yes,Decrease,2,Unsatisfied,4,Daily,Poor,Europe
9,EMP0010,30,Female,HR,IT,28,Hybrid,57,6,1,Low,Depression,Yes,Decrease,2,Neutral,1,Weekly,Poor,North America
10,EMP0011,33,Non-binary,Software Engineer,Finance,17,Remote,48,3,3,High,NaN,Yes,Decrease,4,Satisfied,2,Weekly,Average,Oceania
11,EMP0012,47,Female,Marketing,Consulting,31,Hybrid,26,12,4,Medium,NaN,Yes,No Change,4,Neutral,3,Weekly,Poor,Africa
12,EMP0013,40,Female,Marketing,Consulting,1,Remote,21,7,2,High,Depression,Yes,Decrease,2,Neutral,1,Weekly,Good,Europe

- Instructions: Display the last 7 rows of the dataset

In [31]:
# Write code here
df.tail(7)

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
4993,EMP4994,35,Non-binary,Marketing,Retail,12,Hybrid,32,13,5,Medium,NaN,Yes,Decrease,2,Satisfied,3,Daily,Good,Asia
4994,EMP4995,40,Prefer not to say,Marketing,IT,17,Hybrid,52,1,2,Medium,Burnout,Yes,Increase,3,Neutral,5,Daily,Good,Oceania
4995,EMP4996,32,Male,Sales,Consulting,4,Onsite,24,2,5,High,Burnout,Yes,Decrease,4,Neutral,1,Weekly,Average,Asia
4996,EMP4997,39,Female,Sales,Healthcare,27,Onsite,48,15,1,Low,Depression,Yes,Decrease,1,Satisfied,1,NaN,Average,Africa
4997,EMP4998,42,Female,Sales,Healthcare,21,Hybrid,34,1,4,High,Burnout,No,Increase,3,Satisfied,1,Daily,Poor,Oceania
4998,EMP4999,27,Female,Sales,Healthcare,26,Remote,58,0,5,Low,NaN,Yes,Increase,3,Unsatisfied,4,Daily,Average,Asia
4999,EMP5000,29,Male,HR,IT,30,Onsite,20,15,1,Low,Depression,Yes,No Change,3,Unsatisfied,5,NaN,Poor,Asia

## 3. Find the Number of Null Values in the Dataset (2 mark)

In [55]:
# Write code here
df.isna().sum()

Employee_ID                             0
Age                                     0
Gender                                  0
Job_Role                                0
Industry                                0
Years_of_Experience                     0
Work_Location                           0
Hours_Worked_Per_Week                   0
Number_of_Virtual_Meetings              0
Work_Life_Balance_Rating                0
Stress_Level                            0
Mental_Health_Condition              1196
Access_to_Mental_Health_Resources       0
Productivity_Change                     0
Social_Isolation_Rating                 0
Satisfaction_with_Remote_Work           0
Company_Support_for_Remote_Work         0
Physical_Activity                    1629
Sleep_Quality                           0
Region                                  0
dtype: int64

## 4. Statistical Summary for Numeric Columns (10 marks)
Instructions: Use individual commands to find the statistical summary.

- Count

In [45]:
# Write code here
df.count()

Employee_ID                          5000
Age                                  5000
Gender                               5000
Job_Role                             5000
Industry                             5000
Years_of_Experience                  5000
Work_Location                        5000
Hours_Worked_Per_Week                5000
Number_of_Virtual_Meetings           5000
Work_Life_Balance_Rating             5000
Stress_Level                         5000
Mental_Health_Condition              3804
Access_to_Mental_Health_Resources    5000
Productivity_Change                  5000
Social_Isolation_Rating              5000
Satisfaction_with_Remote_Work        5000
Company_Support_for_Remote_Work      5000
Physical_Activity                    3371
Sleep_Quality                        5000
Region                               5000
dtype: int64

- Mean

In [44]:
# Write code here
df.select_dtypes(include=np.number).mean()

Age                                40.9950
Years_of_Experience                17.8102
Hours_Worked_Per_Week              39.6146
Number_of_Virtual_Meetings          7.5590
Work_Life_Balance_Rating            2.9842
Social_Isolation_Rating             2.9938
Company_Support_for_Remote_Work     3.0078
dtype: float64

- Standard Deviation

In [50]:
# Write code here
df.select_dtypes(include=np.number).std()

Age                                11.296021
Years_of_Experience                10.020412
Hours_Worked_Per_Week              11.860194
Number_of_Virtual_Meetings          4.636121
Work_Life_Balance_Rating            1.410513
Social_Isolation_Rating             1.394615
Company_Support_for_Remote_Work     1.399046
dtype: float64

- Quartiles

In [51]:
# Write code here
np.quantile(df.select_dtypes(include=np.number), [0.25, 0.5, 0.75])

array([ 3.,  5., 29.])

## 5. Calculate Extrema (2 marks)

In [53]:
# Write code here
df.min(numeric_only=True)
df.max(numeric_only=True)

Age                                60
Years_of_Experience                35
Hours_Worked_Per_Week              60
Number_of_Virtual_Meetings         15
Work_Life_Balance_Rating            5
Social_Isolation_Rating             5
Company_Support_for_Remote_Work     5
dtype: int64

## 6. Find Unique Values in a Categorical Column (3 marks)

- Instructions: Identify the unique values in the `job_role` column (2 marks)
- Question: How many unique roles are represented in the dataset? (1 mark)

In [ ]:
# Write code here

## 7. Group Data and Calculate Mean (4 marks)
- Instructions: Group the dataset by `job_role` and calculate the mean of the `Work_Life_Balance_Rating` for each role.
- Question: Which job role has the highest average Work life balance?

In [ ]:
# Write code here

## 8. Filter Data Based on Condition (4 marks)
- Instructions: Filter the dataset to show only rows where `work_hours_per_week` is greater than 40.
- Question: How many employees are working overtime?

In [ ]:
# Write code here

## 9 . Histogram of Work Hours per Week (5 marks)
- Instructions: Create a histogram of `Hours_Worked_Per_Week` (4 marks).
- Question: Describe the distribution of work hours. Are most employees working around a certain number of hours per week? (1 mark)

In [ ]:
# Write code here

## 10. Scatter Plot of Work Hours vs. Years_of_Experience (4 marks)
- Instructions: Create a scatter plot with `Hours_Worked_Per_Week` on the x-axis and `Years_of_Experience` on the y-axis.

In [ ]:
# Write code here

## 11. Bar Chart of Average Work Life Balance by Job Role (5 marks)
- Instructions: Create a bar chart showing the average `Work_Life_Balance_Rating` for each `Job_Role` (4 marks).
- Question: Which job roles have the highest and lowest average mental Work Life Balance? (1 mark)

In [ ]:
# Write code here

## 12. Pie Chart of Workload Level Distribution (5 marks)
- Instructions: Use a pie chart to show the proportion of `Access_to_Mental_Health_Resources` (Yes and no) in the dataset (4 marks).
- Question: What percentage of employees have access to mental health resources? (1 mark)

In [ ]:
# Write code here

## 13. Scatter Plot of Age vs. Social Isolation Rating (6 marks)
- Instructions: Create a scatter plot with `age` on the x-axis and `Social_Isolation_Rating` on the y-axis (4 marks).
- Question: Do you observe any trends or relationships between age and social isolation? Is there a noticeable impact of age on isoloation? (2 marks)

In [ ]:
# Write code here

# Section 3 - Long Answer/Advanced (20%)

## Job Role and Workload Level Impact on Mental Health

Instructions: Investigate the influence of job roles and workload level on the mental health.
- Create a new column `workload_level` that labels each entry as "High" if the `Hours_Worked_Per_Week` is above its mean, otherwise "Low." (5 marks)
- Group the dataset by `Industry` and calculate the average `Hours_Worked_Per_Week` for each combination. (5 marks)
- Use a bar chart to display the average `Stress_Level` for each job role, with separate bars for high and low stress levels. (5 marks)
- Analyze the results: Which job roles and workload levels appear to have the greatest impact on mental health? (5 marks)

In [ ]:
# Write code here